---
http_interactions:
- request:
    method: get
    uri: https://wordsapiv1.p.rapidapi.com/words/testable
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-rapidapi-key:
      - b5d7e379f9msh7eaf7c291b71ac6p1af0d9jsne6903cf6ab7a
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"56-JaWTMKMZITa1tm9+w1KLLA"
      x-rapidapi-region:
      - AWS - us-west-2
      x-rapidapi-version:
      - 1.0.42
      x-ratelimit-requests-limit:
      - '2500'
      x-ratelimit-requests-remaining:
      - '2150'
    body:
      encoding: ASCII-8BIT
      string: '{"word":"testable","syllables":{"count":3,"list":["test","a","ble"]},"frequency":1.82}'
  recorded_at: Sun, 22 Mar 2020 17:11:21 GMT
recorded_with: VCR 5.1.0
