---
http_interactions:
- request:
    method: get
    uri: https://wordsapiv1.p.rapidapi.com/words/Will
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-rapidapi-key:
      - b5d7e379f9msh7eaf7c291b71ac6p1af0d9jsne6903cf6ab7a
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"597-PIIPY68BC+SqMeiLFINimw"
      x-rapidapi-region:
      - AWS - us-west-2
      x-rapidapi-version:
      - 1.0.42
      x-ratelimit-requests-limit:
      - '2500'
      x-ratelimit-requests-remaining:
      - '41'
    body:
      encoding: UTF-8
      string: '{"word":"will","results":[{"definition":"a legal document declaring
        a person''s wishes regarding the disposal of their property when they die","partOfSpeech":"noun","synonyms":["testament"],"inCategory":["law","jurisprudence"],"typeOf":["legal
        instrument","instrument","legal document","official document"],"hasTypes":["old
        testament","devise","new testament"],"hasParts":["codicil"]},{"definition":"the
        capability of conscious choice and decision and intention","partOfSpeech":"noun","synonyms":["volition"],"typeOf":["mental
        faculty","faculty","module"],"hasTypes":["velleity"]},{"definition":"leave
        or give by will after one''s death","partOfSpeech":"verb","synonyms":["bequeath","leave"],"typeOf":["gift","present","give"],"hasTypes":["remember","devise","entail","fee-tail","pass
        on"],"verbGroup":["impart","leave","leave behind","pass on","give"]},{"definition":"a
        fixed and persistent intent or purpose","partOfSpeech":"noun","typeOf":["purpose","intent","design","intention","aim"],"examples":["where
        there''s a will there''s a way"]},{"definition":"decree or ordain","partOfSpeech":"verb","typeOf":["ordain"],"examples":["God
        wills our existence"]},{"definition":"determine by choice","partOfSpeech":"verb","typeOf":["determine","make
        up one''s mind","decide"],"derivation":["willing"],"examples":["This action
        was willed and intended"]}],"syllables":{"count":1,"list":["will"]},"pronunciation":{"all":"wɪl"},"frequency":6.46}'
  recorded_at: Sun, 22 Mar 2020 17:37:04 GMT
- request:
    method: get
    uri: https://wordsapiv1.p.rapidapi.com/words/we
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-rapidapi-key:
      - b5d7e379f9msh7eaf7c291b71ac6p1af0d9jsne6903cf6ab7a
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"385-4rlW4CxxcuIgBYug/xjh8w"
      x-rapidapi-region:
      - AWS - us-west-2
      x-rapidapi-version:
      - 1.0.42
      x-ratelimit-requests-limit:
      - '2500'
      x-ratelimit-requests-remaining:
      - '40'
    body:
      encoding: UTF-8
      string: '{"rhymes":{"all":"-i"},"word":"we","results":[{"partOfSpeech":"pronoun","derivation":["our"],"definition":"The
        plural nominative case of the pronoun of the first person; the word with which
        a person in speaking or writing denotes a number or company of which he is
        one, as the subject of an action expressed by a verb."},{"partOfSpeech":"obj","definition":"The
        plural nominative case of the pronoun of the first person; the word with which
        a person in speaking or writing denotes a number or company of which he is
        one, as the subject of an action expressed by a verb.","derivation":["our"]},{"partOfSpeech":"pl","definition":"The
        plural nominative case of the pronoun of the first person; the word with which
        a person in speaking or writing denotes a number or company of which he is
        one, as the subject of an action expressed by a verb.","derivation":["our"]}],"pronunciation":"wi","frequency":6.95}'
  recorded_at: Sun, 22 Mar 2020 17:37:04 GMT
- request:
    method: get
    uri: https://wordsapiv1.p.rapidapi.com/words/endure
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-rapidapi-key:
      - b5d7e379f9msh7eaf7c291b71ac6p1af0d9jsne6903cf6ab7a
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"708-//QaWfCPMzYrJOiL+VV31Q"
      x-rapidapi-region:
      - AWS - us-west-2
      x-rapidapi-version:
      - 1.0.42[...]
- request:
    method: get
    uri: https://wordsapiv1.p.rapidapi.com/words/million
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-rapidapi-key:
      - b5d7e379f9msh7eaf7c291b71ac6p1af0d9jsne6903cf6ab7a
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2fe-kZFT7QH6T+5i9h5J/W7s0g"
      x-rapidapi-region:
      - AWS - us-west-2
      x-rapidapi-version:
      - 1.0.42
      x-ratelimit-requests-limit:
      - '2500'
      x-ratelimit-requests-remaining:
      - '38'
    body:
      encoding: UTF-8
      string: '{"word":"million","results":[{"definition":"the number that is represented
        as a one followed by 6 zeros","partOfSpeech":"noun","synonyms":["1000000","meg","one
        thousand thousand"],"typeOf":["large integer"]},{"definition":"a very large
        indefinite number (usually hyperbole)","partOfSpeech":"noun","synonyms":["bazillion","billion","gazillion","jillion","trillion","zillion"],"typeOf":["large
        indefinite amount","large indefinite quantity"],"examples":["there were millions
        of flies"]},{"definition":"(in Roman numerals, M written with a macron over
        it) denoting a quantity consisting of 1,000,000 items or units","partOfSpeech":"adjective","similarTo":["cardinal"]}],"syllables":{"count":2,"list":["mil","lion"]},"pronunciation":{"all":"''mɪljən"},"frequency":5.16}'
  recorded_at: Sun, 22 Mar 2020 17:37:05 GMT
- request:
    method: get
    uri: https://wordsapiv1.p.rapidapi.com/words/deaths
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-rapidapi-key:
      - b5d7e379f9msh7eaf7c291b71ac6p1af0d9jsne6903cf6ab7a
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8d3-PR4c7iFkmIzwySij1KP0/g"
      x-rapidapi-region:
      - AWS - us-west-2
      x-rapidapi-version:
      - 1.0.42
      x-ratelimit-requests-limit:
      - '2500'
      x-ratelimit-requests-remaining:
      - '37'
    body:
      encoding: UTF-8
      string: '{"word":"death","results":[{"definition":"the time at which life ends;
        continuing until dead","partOfSpeech":"noun","synonyms":["last"],"typeOf":["end","ending"],"derivation":["die"],"examples":["she
        stayed until his death"]},{"definition":"the time when something ends","partOfSpeech":"noun","synonyms":["demise","dying"],"typeOf":["end","ending"],"hasTypes":["grave"],"partOf":["life-time","lifetime","lifespan","life"],"antonyms":["birth"],"derivation":["die"],"examples":["it
        was the death of all his plans"]},{"definition":"the event of dying or departure
        from life","partOfSpeech":"noun","synonyms":["decease","expiry"],"typeOf":["alteration","change","modification"],"hasTypes":["loss","going","megadeath","martyrdom","human
        death","departure","release","fatality","expiration","exit","passing","wrongful
        death"],"hasInstances":["crucifixion"],"antonyms":["birth"],"derivation":["die"],"examples":["her
        death came as a terrible shock"]},{"definition":"a final state","partOfSpeech":"noun","synonyms":["destruction","end"],"typeOf":["state"],"derivation":["die"]},{"definition":"the
        absence of life or state of being dead","partOfSpeech":"noun","typeOf":["state"],"hasTypes":["sudden
        infant death syndrome","cot death","crib death","sleep","defunctness","sids","rest","quietus","extinction","infant
        death","neonatal death","eternal rest","eternal sleep"],"derivation":["die"],"examples":["he
        seemed more content in death than he had ever been in life"]},{"definition":"the
        act of killing","partOfSpeech":"noun","typeOf":["putting to death","kill","killing"],"derivation":["die","deathly"],"examples":["he
        had two deaths on his conscience"]},{"definition":"the permanent end of all
        life functions in an organism or part of an organism","partOfSpeech":"noun","typeOf":["organic
        phenomenon"],"hasTypes":["gangrene","mortification","necrobiosis","necrosis","sphacelus","cerebral
        death","cell death","brain death"],"derivation":["die"],"examples":["the animal
        died a painful death"]},{"definition":"the personification of death","partOfSpeech":"noun","instanceOf":["imaginary
        being","imaginary creature"],"hasInstances":["reaper","grim reaper"],"derivation":["die"]}],"syllables":{"count":1,"list":["death"]},"pronunciation":{"all":"dɛθ"},"frequency":5.39}'
  recorded_at: Sun, 22 Mar 2020 17:37:05 GMT
- request:
    method: get
    uri: https://wordsapiv1.p.rapidapi.com/words/Or
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-rapidapi-key:
      - b5d7e379f9msh7eaf7c291b71ac6p1af0d9jsne6903cf6ab7a
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"311-INlrFTcbBuxHTiZI9DO1NA"
      x-rapidapi-region:
      - AWS - us-west-2
      x-rapidapi-version:
      - 1.0.42
   [...]
- request:
    method: get
    uri: https://wordsapiv1.p.rapidapi.com/words/will
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-rapidapi-key:
      - b5d7e379f9msh7eaf7c291b71ac6p1af0d9jsne6903cf6ab7a
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"597-PIIPY68BC+SqMeiLFINimw"
      x-rapidapi-region:
      - AWS - us-west-2
      x-rapidapi-version:
      - 1.0.42
 [...]
[...]
- request:
    method: get
    uri: https://wordsapiv1.p.rapidapi.com/words/manage
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-rapidapi-key:
      - b5d7e379f9msh7eaf7c291b71ac6p1af0d9jsne6903cf6ab7a
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7d3-9n0b80gDdDdTK6DOnEYpdw"
      x-rapidapi-region:
      - AWS - us-west-2
      x-rapidapi-version:
      - 1.0.42[...]
- request:
    method: get
    uri: https://wordsapiv1.p.rapidapi.com/words/to
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-rapidapi-key:
      - b5d7e379f9msh7eaf7c291b71ac6p1af0d9jsne6903cf6ab7a
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"15e-lANliCbedikcgTaBACsSXg"
      x-rapidapi-region:
      - AWS - us-west-2
      x-rapidapi-version:
      - 1.0.42
      x-ratelimit-requests-limit:
      - '2500'
      x-ratelimit-requests-remaining:
      - '32'
    body:
      encoding: UTF-8
      string: '{"rhymes":{"all":"-u"},"word":"to","results":[{"partOfSpeech":"preposition","definition":"The
        preposition to primarily indicates approach and arrival, motion made in the
        direction of a place or thing and attaining it, access; and also, motion or
        tendency without arrival; movement toward.","antonyms":["from"]}],"pronunciation":"tu","frequency":7.35}'
  recorded_at: Sun, 22 Mar 2020 17:37:08 GMT
- request:
    method: get
    uri: https://wordsapiv1.p.rapidapi.com/words/turn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-rapidapi-key:
      - b5d7e379f9msh7eaf7c291b71ac6p1af0d9jsne6903cf6ab7a
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2d89-ERA2rv1C4S9rlQ+GXfYHvA"
      x-rapidapi-region:
      - AWS - us-west-2
      x-rapidapi-version:
      - 1.0.42
      x-ratelimit-requests-limit:
      - '2500'
      x-ratelimit-requests-remaining:
      - '31'
    body:
      encoding: UTF-8
      string: '{"word":"turn","results":[{"definition":"to break and turn over earth
        especially with a plow","partOfSpeech":"verb","synonyms":["plough","plow"],"inCategory":["agriculture","farming","husbandry"],"entails":["cut
        into","delve","turn over","dig"],"typeOf":["till"],"hasTypes":["ridge","disk","harrow"],"examples":["turn
        the earth in the Spring"]},{"definition":"twist suddenly so as to sprain","partOfSpeech":"verb","synonyms":["rick","sprain","twist","wrench","wrick"],"typeOf":["injure","wound"],"examples":["I
        turned my ankle and couldn''t walk for several days"]},{"definition":"pass
        into a condition gradually, take on a specific property or attribute; become","partOfSpe[...]
- request:
    method: get
    uri: https://wordsapiv1.p.rapidapi.com/words/things
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-rapidapi-key:
      - b5d7e379f9msh7eaf7c291b71ac6p1af0d9jsne6903cf6ab7a
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"103-vbd8Tjnxp35phB5rqt0fCQ"
      x-rapidapi-region:
      - AWS - us-west-2
      x-rapidapi-version:
      - 1.0.42
      x-ratelimit-requests-limit:
      - '2500'
      x-ratelimit-requests-remaining:
      - '30'
    body:
      encoding: UTF-8
      string: '{"word":"things","results":[{"definition":"any movable possession (especially
        articles of clothing)","partOfSpeech":"noun","typeOf":["belongings","holding","property"],"examples":["she
        packed her things and left"]}],"pronunciation":"θɪŋz","frequency":5.84}'
  recorded_at: Sun, 22 Mar 2020 17:37:08 GMT
- request:
    method: get
    uri: https://wordsapiv1.p.rapidapi.com/words/around
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-rapidapi-key:
      - b5d7e379f9msh7eaf7c291b71ac6p1af0d9jsne6903cf6ab7a
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"50e-CNRqzX8WUujfHg5tgnKf4w"
      x-rapidapi-region:
      - AWS - us-west-2
      x-rapidapi-version:
      - 1.0.42[...]
[...]
- request:
    method: get
    uri: https://wordsapiv1.p.rapidapi.com/words/?frequencyMax=4.32&frequencymin=3.32&lettersMax=9&lettersMin=3&partOfSpeech=verb&random=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-rapidapi-key:
      - b5d7e379f9msh7eaf7c291b71ac6p1af0d9jsne6903cf6ab7a
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"451-xbdVzI47zj1afUQFBp3BGw"
      x-rapidapi-region:
      - AWS - us-west-2
      x-rapidapi-version:
      - 1.0.42
      x-ratelimit-requests-limit:
      - '2500'
      x-ratelimit-requests-remaining:
      - '1'
    body:
      encoding: UTF-8
      string: '{"word":"immerse","results":[{"definition":"cause to be immersed","partOfSpeech":"verb","synonyms":["plunge"],"cause":["engulf","engross","steep","absorb","soak
        up","plunge"],"verbGroup":["plunge","engulf","engross","soak up","absorb","steep"],"derivation":["immersion"]},{"definition":"thrust
        or throw into","partOfSpeech":"verb","synonyms":["plunge"],"typeOf":["penetrate","perforate"],"hasTypes":["souse","dip","submerge","dunk","plunge","douse","submerse","sheathe","soak"]},{"definition":"enclose
        or envelop completely, as if by swallowing","partOfSpeech":"verb","synonyms":["bury","eat
        up","swallow","swallow up"],"typeOf":["close in","shut in","inclose","enclose"]},{"definition":"devote
        (oneself) fully to","partOfSpeech":"verb","synonyms":["absorb","engross","engulf","plunge","soak
        up","steep"],"typeOf":["rivet","center","centre","concentrate","focus","pore"],"hasTypes":["drink","drink
        in"],"verbGroup":["plunge"],"derivation":["immersion"],"examples":["He immersed
        himself into his studies"]}],"syllables":{"count":2,"list":["im","merse"]},"pronunciation":{"all":"ɪ''mɜrs"},"frequency":2.96}'
  recorded_at: Sun, 22 Mar 2020 17:37:21 GMT
[...]
- request:
    method: get
    uri: https://wordsapiv1.p.rapidapi.com/words/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-rapidapi-key:
      - b5d7e379f9msh7eaf7c291b71ac6p1af0d9jsne6903cf6ab7a
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7c6-AvaiU1cNOgy9YQK2Kl2LOg"
      x-rapidapi-region:
      - AWS - us-west-2
      x-rapidapi-version:
      - 1.0.42
    [...]
- request:
    method: get
    uri: https://wordsapiv1.p.rapidapi.com/words/mesmerizing
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-rapidapi-key:
      - b5d7e379f9msh7eaf7c291b71ac6p1af0d9jsne6903cf6ab7a
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"179-zbaByV7AZc6h16tDo8RoSQ"
      x-rapidapi-region:
      - AWS - us-west-2
      x-rapidapi-version:
      - 1.0.42
      x-ratelimit-requests-limit:
      - '2500'
      x-ratelimit-requests-remaining:
      - "-17"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJ3b3JkIjoibWVzbWVyaXppbmciLCJyZXN1bHRzIjpbeyJkZWZpbml0aW9uIjoiYXR0cmFjdGluZyBhbmQgaG9sZGluZyBpbnRlcmVzdCBhcyBpZiBieSBhIHNwZWxsIiwicGFydE9mU3BlZWNoIjoiYWRqZWN0aXZlIiwic3lub255bXMiOlsiaHlwbm90aWMiLCJtZXNtZXJpYyIsInNwZWxsYmluZGluZyJdLCJzaW1pbGFyVG8iOlsiYXR0cmFjdGl2ZSJdLCJleGFtcGxlcyI6WyJ0aGUgc2hlZXIgZm9yY2Ugb2YgaGlzIHByZXNlbmNlIHdhcyBtZXNtZXJpemluZyJdfV0sInN5bGxhYmxlcyI6eyJjb3VudCI6NCwibGlzdCI6WyJtZXMiLCJtZXIiLCJpeiIsImluZyJdfSwicHJvbnVuY2lhdGlvbiI6IidtyZt6bcmdcixhyap6yarFiyIsImZyZXF1ZW5jeSI6Mi44MX0=
  recorded_at: Sun, 22 Mar 2020 17:38:25 GMT
- request:
    method: get
    uri: https://wordsapiv1.p.rapidapi.com/words/sentence
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-rapidapi-key:
      - b5d7e379f9msh7eaf7c291b71ac6p1af0d9jsne6903cf6ab7a
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5c7-lFBQPEI3v+GKlafZfEnizw"
      x-rapidapi-region:
      - AWS - us-west-2
      x-rapidapi-version:
      - 1.0.[...]
[...]
- request:
    method: get
    uri: https://wordsapiv1.p.rapidapi.com/words/?frequencyMax=3.31&frequencymin=2.31&lettersMax=14&lettersMin=8&partOfSpeech=adjective&random=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-rapidapi-key:
      - b5d7e379f9msh7eaf7c291b71ac6p1af0d9jsne6903cf6ab7a
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"29f-KiJ+AQa/UYMunFn/Jh6tW[...]
[...]
