$large-margin: 50px;
$medium-margin: 25px;

.container {
  background: linear-gradient(150deg, purple, 70%, red);
  font-size: 3rem;
  color: white;
  height: 100%;
  width: 100%;
}

.contents {
  padding: $large-margin;
  height: calc(100% - 2 * #{$large-margin});
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question {
  position: absolute;
}

.options {
  align-self: flex-end;
}

.option {
  text-align: right;
  transition-property: color transform;
  transition-duration: 0.5s;

  &:hover {
    color: black;
  }
}

:global {
  .example-enter {
    opacity: 0.01;
  }

  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .example-leave {
    opacity: 1;
  }

  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
}
