$large-margin: 50px;
$medium-margin: 25px;

.container {
  padding: $large-margin;
  background: linear-gradient(150deg, purple, 70%, red);
  font-size: 3rem;
  color: white;
  height: 100%;
  width: 100%;
}
